<div class="row">
    <div class="col s12">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Input Variables</th>
                    <th>Output Variable</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="model in vm.models">
                    <td>{{model.name}}</td>
                    <td>{{model.inputVarsDesc}}</td>
                    <td>{{model.outputVar}}</td>
                    <td>
                        <a href="/#/models/edit/{{model.model_id}}" class="waves-effect waves-circle btn-floating">
                            <i class="material-icons">edit</i>
                        </a>
                        <button ph-modal="#modalDelete" ng-click="vm.askDelete(model)" 
                                class="waves-effect waves-circle btn-floating red darken-1">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody ng-hide="vm.model.length">
                <tr colspan="5">
                    <td colspan="5">
                        No data
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a href="/#/models/new" class="waves-effect waves-light btn">
                            <i class="material-icons left">add</i>
                            New Model
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div id="modalDelete" class="modal">
    <div class="modal-content">
        <h4>Delete model '{{vm.modelToDelete.name}}'</h4>
        <p>Are you sure you want to delete the model?</p>
    </div>
    <div class="modal-footer">
        <a ng-click="vm.confirmDelete()" class="modal-close modal-action waves-effect waves-green blue-text btn-flat">Agree</a>
        <button class="modal-close modal-action waves-effect waves-green blue-text btn-flat">Cancel</button>
    </div>
</div>